{% load static %}
{% if api_authenticated %}
<div class="card-strava list box {{extra_class}}">
	{% for item in activities %}
	<a class="strava-item" href="https://www.strava.com/activities/{{ item.0 }}"> 
		<p class="icon-{{ item.2 }}">
			<strong>{{ item.1 }}</strong></br>
			{{ item.3 }}</br>
			{{ item.4 }}
		</p>
		<p></p>
	</a>
	{% endfor %}
	<a class="button-strava icon-strava" href="https://www.strava.com"></a>
</div>
{% else %}
<a class="button-strava icon-strava" href="{% url 'dafitness:auth' %}">
	Authorize API
</a>
{% endif %}