{% load static %}
{% if api_authenticated %}
<a class="button-strava icon-strava" href="{{ profile.1 }}">
	{{ profile.0 }}
	<img src="{{ profile.2 }}" />
</a>
{% else %}
<a class="button-strava icon-strava" href="{% url 'dafitness:auth' %}">
	Authorize API
</a>
{% endif %}