{% load static %}
{% if api_authenticated %}
<div class="card-strava list box {{extra_class}}">
	{% for id, name, distance in bikes %}
	
	{% if bikes|length > 1%}<a class="strava-item" href="https://www.strava.com/bikes/{{id}}">{% else %}<div class="strava-item">{% endif %}
		<p>
			<strong>{{ name }}</strong> | {{distance}} km
		</p>
	{% if bikes|length > 1%}</a>{% else %}</div>{% endif %}
		
	{% endfor %}
	
	<a class="button-strava icon-strava" href="https://www.strava.com/{% if bikes|length == 1%}bikes/{{bikes.0.0}}{% endif %}"></a>
</div>
{% else %}
<a class="button-strava icon-strava" href="{% url 'dafitness:auth' %}">
	Authorize API
</a>
{% endif %}