{% load static %}
{% if api_authenticated %}
<div class="card-strava list box {{extra_class}}">
	<div class="strava-item" style="text-align:right"><p style="text-align:right">
	{% if period %}<strong>{{ stats.activities }} activities {% if period == "day" %}to{% else %}this {% endif %}{{ period }}</strong>
	{% else %}<strong>{{ stats.activities }} activities</strong>{% endif %}
	<br/>
	({% if stats.date %}{{ stats.date }}
	{% else %}{{ stats.from_date }}, {{ stats.to_date }}{% endif %})
	</div>
	<div class="strava-item">
	<p>Distance: <strong>{{ stats.distance }} kms</strong></p><br/>
	<p>Moving time: <strong>{{ stats.moving_time }}</strong></p><br/>
	<p>Elevation gain: <strong>{{ stats.total_elevation_gain }} mts</strong></p><br/>
	<p>Max speed: <strong>{{ stats.max_speed }} kms/hr</strong></p><br/>
	<p>Average speed: <strong>{{ stats.average_speed }} kms/hr</strong></p>
	</div>
	<a class="button-strava icon-strava" href="https://www.strava.com"></a>
</div>
{% else %}
<a class="button-strava icon-strava" href="{% url 'dafitness:auth' %}">
	Authorize API
</a>
{% endif %}