@import 'dapricot/scss/variables.scss';
@import 'dapricot/scss/mixins/grid.scss';
@import 'dapricot/scss/mixins/helpers.scss';


$socialStrava: #FC4C02;
.icon-strava:before { @include iconify(url('https://icongr.am/simple/strava.svg?size=' + $baseFontSize + '&color=ffffff'));}
.icon-ride:before { @include iconify(url('https://icongr.am/material/bike.svg?size=' + $baseFontSize + '&color=currentColor'));}

button.strava,
.button-strava,
input.button-strava {
	@include button-style($socialStrava, white);

	&.disabled {
		background-color: #aebcc7;
		color: white;
		cursor: default;
	}
}

.card-strava {
	width: 400px;
	height: 150px;
	@include card-style($socialStrava, $textColor);

	&.list {
		height: auto;
	}
	
	img.cover {
		border: $socialStrava solid 5px;
		max-height: inherit;
		height: inherit;
		position: absolute;
		left: 0px;
		top: 0px;
		
	}
	div.info {
		position: absolute;
		top: 0px;
		left: 165px;
		right: 10px;
	}
	button.strava,
	.button-strava,
	input.button-strava {
		position: absolute;
		right: 0px;
		bottom: 0px;
		margin: 0px;
	}

	.strava-item {
		@include button-style($baseColor, $textColor);
		display: block;
		margin-bottom: 3px;
		line-height: $baseFontSize;
		p {
			margin: 0px;
			display: inline-block;
			padding: 5px 10px;
			&.full {
				line-height: 60px;
				padding: 0px 10px;
			}
			&.name {
				font-weight: bold;
			}
		}
	}
}