{% extends 'dapricot/base.html' %}
{% load dafitness %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-strava half-center autoheight">
			<h2>Strava Integration</h2>
		</div>
		<div class="box card half-center autoheight">
			{% strava_badge %}
		</div>
		<div class="box card half-center autoheight">
			<a href="/" class="button">Go back home</a>
		</div>
	</div>
</article>
{% endblock %}
